* {
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: calc(10px + 0.33vw);
  font-weight: 300;
}

body {
  margin: 0;
  color: #333;
}

article {
  padding: 8vh 11vw;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 4em;
  /* margin-bottom: 1em; */
}

h2 {
  font-size: 2.125em;
}

h3 {
  font-size: 1.9em;
}

p {
  font-size: 1.7em;
  line-height: 1.4;
  max-width: 24em;
}

li {
  position: relative;
  list-style: none;
  font-size: 1.7em;
}

li::before {
  content: '\2022';
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translate(0, -50%);
  font-size: 1.35em;
}

li + li {
  margin-top: 0.25em;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: -2%;
  right: -2%;
  z-index: -1;
  height: 30%;
  background-color: rgba(255, 215, 0, 0.25);
  transition: 0.225s;
  opacity: 0.75;
}

a:hover::after {
  height: 100%;
  opacity: 1;
}

.tooltip {
  display: none;
}

.tippy-tooltip {
  min-width: 350px;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 0.8em;
}

.tippy-content {
  text-align: left;
}

.tippy-content ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.tippy-content li {
  margin-top: 0;
  list-style: none;
}

.tippy-content li:not(:first-child) {
  margin-left: 10px;
}

.tippy-tooltip li::before,
.tippy-content a:not(.repo)::before,
.tippy-content a:not(.repo)::after {
  content: none;
}

.iconify {
  width: 30px;
  height: 30px;
}
